

<%- include ('common/header') -%>

<!-- <h2 class="page-header">Dashboard</h2>
<p>`Hello, World! This is Yanlin- A simple Node.js template for Platform.sh`</p> -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to YS showroom</h2>
        <p class="animate__animated animate__fadeInUp">this is website will show what i can do as a full stack developer</p>
        <!-- <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">carousel item</h2>
        <p class="animate__animated animate__fadeInUp">UI tamplete is downloaded online. no copywrite. I am not a UI designer</p>
        <!-- <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
      </div>
    </div>

    <!-- Slide 3 -->
    <!-- <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
        <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
      </div>
    </div> -->

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<!-- ======= Services Section ======= -->
<section class="services">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="" >You browser is          </a></h4>
          <p class="description" id="userBrowser">Unknown</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_show">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="" >Sorry this section display correctly Chrome for sure</a></h4>
          <p class="description">Other browser may display correctly, but I am not sure. the Compatability for each browser is hard</p> 
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_Hide">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="" >You are on          </a></h4>
          <p class="description" id="userSystem">Unknown</p> <p>operating system</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_Hide" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Your cpu has          </a></h4>
          <p class="description" id="userCpuCores">Unknown</p> <p>Cores</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_Hide" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Your default language is </a></h4>
          <p class="description" id="userDefaultLan">Unknown</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_Hide" data-aos-delay="200">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Your device</a></h4>
          <p class="description" id="userMaxTouchpoint">Unknown</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" name="notChrome_Hide" data-aos-delay="200">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Your device is</a></h4>
          <p class="description" id="userChargeStat">Unknown</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<script>

  $(async function(){
    var userObj = await getUserAndHWinfo()

    $("#userBrowser").text(userObj.browser)

    if(userObj.browser!="Chrome"){
      $("[name=notChrome_Hide]").remove();
    }else{
      $("[name=notChrome_show]").remove();
    }

    $("#userSystem").text(userObj.userOS)
    $("#userCpuCores").text(userObj.cpuCore)
    $("#userDefaultLan").text(userObj.defaultLan)

    var userTouchPoint
    if (userObj.touchPoint ==0 ){
      userTouchPoint =  "does not support touch screen"
    }else{
      userTouchPoint = "support " + userObj.touchPoint +" point touch simultaneously"
    }
    $("#userMaxTouchpoint").text(userTouchPoint)


    var isCharging = userObj.battery
    var batteryCharge;
    if (isCharging){
      batteryCharge= "charging"
    }else{
      batteryCharge="is not charging"
    }
    $("#userChargeStat").text(batteryCharge)


    $.post("/trace", {
      pageName   : "langing page",
      browser    : userObj.browser,
      userOS     : userObj.userOS,
    });

  });



</script>


<%- include('common/footer') -%>